{% extends 'base.html' %}

{% block head %}
<title>List</title>
{% endblock %}

{% block nav %}
<nav class="nav">
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a href="/services">services</a></li>
    </ul>
</nav>
{% endblock %}

{% block body %}
    <div class="parent">
        <div class="text">Welcome,&ensp;{{usrname}}</div>
    </div>
{% endblock %}

{% block scripts  %}
<script>
    setTimeout(() => {
        parent_box.style.opacity = '1'
    }, 300);
    arrow.style.display = 'none'
</script>
{% endblock  %}